extends layouts/main

block content
    .form-container
        form(action=routes.changePassword, method="post")
            input(type="text", name="currentPassword", placeholder="Current Password", required=true)
            input(type="text", name="newPassword", placeholder="New Password", required=true)
            input(type="text", name="verifyPassword", placeholder="Verify New Password", required=true)
            input(type="submit", value="Change Password")